@value makerGreen,makerWhite from '../../common/colors.css';
@value makerPink from '../../common/colors.css';

.footer {
  background-color: makerGreen;
  color: makerWhite;
  width: 100%;
}

.footer h1 {
  /* font-size: 100px; */
  padding: 20px 0;
  text-align: center;
}
