@value makerGreen,makerPink,makerWhite from './common/colors.css';

/* * {
  font-size: 20px;
  color: makerPink;
  background-color: makerGreen;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.loginArea {
  width: 50%;
  margin: 0 auto;
  /* background-color: makerGreen; */
  /* color: makerWhite; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}
